<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
            <ibnab_onesku_config>
                <general>
                    <enable>1</enable>
                </general>
            </ibnab_onesku_config>
    </default>
</config>
